.tabs-box{
	width: 80%;
	margin: 30rpx 0;
}

.cart-item{
	background-color: #fff;
	padding: 20rpx;
	border-radius: 10rpx;
	// box-shadow: 5rpx 5rpx 10rpx #999;
	margin: 20rpx;
	.cover{
		width: 100%;
	}
	.footer{
		display: flex;
		align-items: center;
		margin-top: 20rpx;
		padding-top: 20rpx;
		border-top: 1px solid #F5F5F5;
		font-size: 28rpx;
		color: #fff;
		.btn{
			margin-left: auto;
			margin-right: 0;
		}
	}
	.txt{
		font-size: 28rpx;
		color: #fff;
	}
}

.empty-box{
	padding: 0 30rpx;
	.item-wrap {
		display: flex;
		flex-wrap: wrap;
		.item {
			color: #fff;
			background: #7762EC;
			margin-right: 20rpx;
			margin-top: 20rpx;
			border-radius: 20rpx;
			font-size: 30rpx;
			font-weight: 40rpx;
			padding: 10rpx 12rpx;
			// box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.29);
		}
	}
	text{
		color: #fff;
		font-size: 28rpx;
		margin-top: 20rpx;
	}
}

@function c($rpx) {
	@return ($rpx * 1.74) + rpx;
}



